
body{
    width: 100%;
    box-sizing: border-box;
    background-color: #E4E4E4;
}
a{
    text-decoration: none;
}
/*style header*/
header{
    width: 100%;
    height: 60px;
    background-color: #3C71B0;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}
.logo{
    width: 10%;
    margin: 5px 70px 0 50px;
}
.small-menu{
    width: 40%;
    padding-top: 20px;
}
.small-menu a{
    margin: 150px 50px;
    color: white;
    font-size: 18px;
}
.small-menu a:hover{
    color: rgb(228, 135, 13);
}
.search{
    padding-top: 15px;
    width: 30%;
}
.search form{
    position: relative;
}
.search input{
    border-radius: 40px;
    height: 28px;
    width: 200px;
    background-color: #3C71B0;
    border: 1px solid white;
    border-color: white;
    color: white;
    padding-left: 10px;

}
::placeholder{
    color: white;
}
.search button{
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: inherit;
    border: none;
}
.search button:hover{
    cursor: pointer;
}
.search button i{
    font-size: 17px;
    color: white;
}
.search #notify{
    margin:5px 20px 0px 20px;
}
#notify i{
    font-size: 25px;
    color: white;
}
.accountImage{
    border-radius: 50%;
}
/*style content*/
section{
    display: flex;
}
.menu{
    width: 18%;
    height: 800px;
    background-color: white;
    margin: 0 10px;
}
.menu-list ul{
    list-style-type: none;
}
.menu-list ul li{
    margin: 25px 0px;
    position: relative;
}
.menu-list ul li a{
    color: #4F4C4C;
    font-size: 18px;
}
.menu-list ul li a:hover{
    color: #145fba;
}
#icon-content{
    margin-right: 15px;
}
#icon-show-detail{
    position: absolute;
    right: 20px;
}
.content{
    width: 80%;
    background-color: white;
}
/*style form*/
.class-title{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
hr{
    width: 90%;
    height: 2px;
    border: none;
    background-color:#BCB6B6;
}
.content form{
    width: 50%;
    border: 1px solid gray;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    border-radius: 5px;
}
.content form input{
    width: 50%;
    margin: 20px 0;
    height: 30px;
    border: 1px solid #3C71B0;
}
.content form button{
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    border: none;
}
.content form button:hover{
    cursor: pointer;
}
#submit{
    background-color: #FB8500;
}
#reset{
    background-color: #023047;
}
#list{
    padding: 4px 10px;
    background-color: #3C71B0;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 0 5px;
}